# Python & Django
*.pyc
*~
__pycache__/
*.sqlite3
*.log

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS junk
Thumbs.db
Desktop.ini
.DS_Store

# Variables d'environnement (NE JAMAIS COMMITTER)
.env

# Fichiers statiques collectés
staticfiles/
media/
